<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type='text/javascript' src='https://analytics.elkjop.com/javascripts/api/viz_v1.js'></script>
    <script defer src="/js/script.js"></script>
    <title>DASHBOARD</title>
</head>
<body>
    <header>
        <div class="brand"><h3><%= pageTitle %></h3><img src="/images/icon.png" alt="logo"></div>
        <nav>
            <div class="menu">
                <span class="burger"></span>
            </div>
            <div class="navitems no-anim closed">
                <ul>
                    <li class="wide"><a href="/">Nordic</a></li>
                    <li><a href="/denmark">Denmark</a></li>
                    <li><a href="/finland">Finland</a></li>
                    <li><a href="/norway">Norway</a></li>
                    <li><a href="/sweden">Sweden</a></li>
                    <li><a href="/helpdesk">Helpdesk</a></li>
                    <li><a href="/kitchen">Kitchen&Interior</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <%- body %>
    <script src="/js/card.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>