<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.24/moment-timezone.min.js" integrity="sha512-hdV4N1wG9IDt6okHk1YvomNfa1KeBuNa4bEyGiEO0FIBA+8OJAuY8yT0p/Il7zWe7E0wuKYEyKIBnAnEKYtoAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer type='text/javascript' src='https://analytics.elkjop.com/javascripts/api/viz_v1.js'></script>
    <script defer src="/js/script.js"></script>
    <title>DASHBOARD</title>
</head>
<body>
    <header>
        <div class="brand"><h3><%= pageTitle %></h3><img src="/images/icon.png" alt="logo"></div>
        <nav>
            <% if (locals.user) {%>
            <div class="menu loggedin">
            <% } else { %>
            <div class="menu">
            <% } %>
                <span class="burger"></span>
            </div>

            <% if (locals.user) {%>
            <div class="navitems no-anim closed loggedin">
            <% } else { %>
            <div class="navitems no-anim closed">
            <% } %>
                <ul>
                    <li class="wide"><a href="/">Nordic</a></li>
                    <li><a href="/denmark">Denmark</a></li>
                    <li><a href="/finland">Finland</a></li>
                    <li><a href="/norway">Norway</a></li>
                    <li><a href="/sweden">Sweden</a></li>
                    <li><a href="/helpdesk">Helpdesk</a></li>
                    <li><a href="/kitchen">Kitchen&Interior</a></li>
                    <% if (locals.user) {%>
                    <li><a href="/auth/logout">Log out</a></li>
                    <% } else { %>
                    <li><a href="/auth/azure/login">Log in</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <%- body %>
    <% if (locals.user) {%>
    
    <footer class="loggedin">
        <div>Logged in as <%= user.name %></div>
        <div><a href="/auth/logout" title="Log out"><ion-icon name="log-out-outline"></ion-icon></a></div>
        <img id='photo'>
    </footer>
    <script>
        /*const auth ='<%= user.id %>';
        fetch(`/getPicture/${auth}`).then(response=>response.blob())
        .then(function(response) {
            let objectURL = URL.createObjectURL(response);
            document.getElementById('photo').src = objectURL;
        })*/
    </script>
    <% } else { %>
    <footer>
    </footer>
    <% } %>
    
    <script src="/js/card.js"></script>
    <script src="/js/alert.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>