<div class="container">
    <script type='text/javascript' src='https://analytics.elkjop.com/javascripts/api/viz_v1.js'>
    </script>
    <div class='tableauPlaceholder' style='width: 1600px; height: 927px;'>
        <object class='tableauViz' width='1600' height='927' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fanalytics.elkjop.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;CCC' />
            <param name='name' value='CCCHoN_PublicNew&#47;HoNDashboard' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
        </object>
    </div>
</div>

<script>
    let key = 'nordic'
</script>