<div class="splitcontainer">

    <div class="container">
        <summary-card name="Denmark" id="dk" icon="grid" showLoader="true"></summary-card>
        <summary-card name="Finland" id="fi" icon="grid"></summary-card>
        <summary-card name="Norway" id="no" icon="grid"></summary-card>
        <summary-card name="Sweden" id="se" icon="grid"></summary-card>
        <summary-card name="Helpdesk" id="thd" icon="grid"></summary-card>
        <summary-card name="Kitchen" id="ki" icon="grid"></summary-card>

    </div>

    <div class='tableauPlaceholder' style='width: 420px; height: 677px;'>
        <object class='tableauViz' width='420' height='677' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fanalytics.elkjop.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;CCC' />
            <param name='name' value='CCCHoN_PublicNew&#47;HoNoverview' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='true' />
        </object>
    </div>


</div>



<script>
    let key = 'nordic'
</script>