<div class="container">
    <h3><%= key %></h3>

</div>


<script>
    let key = '<%= key %>';
    document.querySelector('header').className ='hidden';
    document.querySelector('body').classList.add('tableau');
</script>