<div class="container schedule-overview">
    <div class="schedule-container">
        <div class="padding"></div>
        <div class="name"><%= day %></div>
        <div class="shift">
            <div class="time-label odd" style="grid-column: 60 / span 60">07:00</div>
            <div class="time-label even" style="grid-column: span 60">08:00</div>
            <div class="time-label odd" style="grid-column: span 60">09:00</div>
            <div class="time-label even" style="grid-column: span 60">10:00</div>
            <div class="time-label odd" style="grid-column: span 60">11:00</div>
            <div class="time-label even" style="grid-column: span 60">12:00</div>
            <div class="time-label odd" style="grid-column: span 60">13:00</div>
            <div class="time-label even" style="grid-column: span 60">14:00</div>
            <div class="time-label odd" style="grid-column: span 60">15:00</div>
            <div class="time-label even" style="grid-column: span 60">16:00</div>
            <div class="time-label odd" style="grid-column: span 60">17:00</div>
            <div class="time-label even" style="grid-column: span 60">18:00</div>
            <div class="time-label odd" style="grid-column: span 60">19:00</div>
            <div class="time-label even" style="grid-column: span 60">20:00</div>
            <div class="time-label odd" style="grid-column: span 60">21:00</div>
            <div class="time-label even" style="grid-column: span 60">22:00</div>
        </div>
    </div>
</div>

<script>
    let key = '<%= key %>';
    let page = 'team';
    let day = '<%= day %>';
</script>