<div class="container">
    <div class="card" id="ph">
        <div class="card-header">
            <ion-icon name="call-outline"></ion-icon>
            <h2>Phone</h2>
        </div>
        <div class="card-main">
            <div class="card-queue">
                <h1>15</h1>
            </div>
            <div class="card-stat">
                <div class="stat">
                    <div class="stat-number">30%</div>
                    <div class="stat-text">sla</div>
                </div>
                <div class="stat">
                    <div class="stat-number">10</div>
                    <div class="stat-text">agents</div>
                </div>
                <div class="stat">
                    <div class="stat-number">9%</div>
                    <div class="stat-text">abd-rate</div>
                </div>
            </div>
        </div>
        
        <div class="card-sub">
            <div class="arrow-up">
                <ion-icon name="chevron-up-outline"></ion-icon>
            </div>
            <div class="center">

            </div>
            <div class="arrow-down">
                <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
        </div>
    </div>
</div>