<div class="container">

    <queue-card name="Phone" id="ph" icon="call-outline"></queue-card>
    <queue-card name="Chat" id="ch" icon="chatbubbles-outline"></queue-card>
    <queue-card name="Email" id="em" icon="mail-outline"></queue-card>
    <queue-card name="Action" id="ac" icon="attach-outline"></queue-card>

</div>

<script>
    let key = '<%= pageTitle %>'
</script>