* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: lightgrey;
  overflow-x: hidden;
  min-width: 350px;
}

.alerts {
  margin: 1rem auto;
  width: 300px;
  height: 600px;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.5rem auto 2rem;
      grid-template-rows: 2.5rem auto 2rem;
  -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
          box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */
}

.alerts .alerts-header {
  background-color: #78be20;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.alerts .alerts-content {
  overflow-y: scroll;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alerts .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.alerts .modal.open {
  display: block;
}

.alerts .openModal {
  background-color: #141b4d;
  color: #fff;
  border: none;
  font-size: 1rem;
  height: 2rem;
  cursor: pointer;
}

.alerts .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

.alerts .modal-content .modal-header {
  background-color: #141b4d;
  color: #fff;
  font-size: 3rem;
  padding: 0.5rem;
}

.alerts .modal-content .modal-subtext {
  font-style: italic;
  padding: 0.5rem;
}

.alerts .modal-content form {
  border: 1px solid #141b4d;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alerts .modal-content form label {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.alerts .modal-content form select {
  padding: 0.5rem 0;
  border: none;
}

.alerts .modal-content form .error {
  border: 1px solid #d52b1e;
}

.alerts .modal-content form .error-text {
  margin-bottom: 1rem;
  height: 1rem;
  color: #d52b1e;
}

.alerts .modal-content form .department-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
}

.alerts .modal-content form .department-selector span {
  font-size: 1.2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.alerts .modal-content form .department-selector > div {
  margin-top: 0.5rem;
}

.alerts .modal-content form .department-selector input[type=checkbox] {
  display: none;
}

.alerts .modal-content form .department-selector input[type=checkbox] + label {
  padding: 0.5rem;
  display: inline-block;
  border: 1px solid #141b4d;
  cursor: pointer;
  font-size: 1rem;
}

.alerts .modal-content form .department-selector input[type=checkbox]:checked + label {
  background-color: #141b4d;
  color: white;
}

.alerts .modal-content form textarea {
  margin: 1rem 0;
  padding: 0.5rem;
}

.alerts .modal-content form input[type=submit] {
  cursor: pointer;
  background-color: #141b4d;
  color: #fff;
  padding: 1rem;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.alerts .close {
  color: #141b4d;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0rem;
  top: -0.5rem;
}

.alerts .close:hover,
.alerts .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-grid-columns: 2rem 2fr 1fr 2rem;
      grid-template-columns: 2rem 2fr 1fr 2rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "type title date arrow";
  padding: 0.5rem;
  border-bottom: 1px grey dashed;
}

.alert > div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert.open {
  -ms-grid-columns: 2rem 5fr 5fr 2rem;
      grid-template-columns: 2rem 5fr 5fr 2rem;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "type department date arrow" "type text text arrow";
}

.alert.open .alert-title {
  display: none;
}

.alert.open .alert-department, .alert.open .alert-text {
  display: block;
}

.alert[data-closed=false] {
  background-color: #f7cbc8;
}

.alert .alert-department {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: department;
  display: none;
  text-align: left;
  padding-left: 1rem;
}

.alert .alert-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: type;
  font-size: 1rem;
}

.alert .alert-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: text;
  display: none;
  text-align: left;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.alert .alert-date {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: date;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 1rem;
}

.alert .alert-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  display: block;
  text-align: left;
  padding-left: 1rem;
}

.alert .alert-arrow {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: arrow;
}

@media only screen and (min-width: 700px) {
  .alerts {
    height: 80vh;
    width: 90%;
    min-width: 300px;
  }
}

@media only screen and (min-width: 1360px) {
  .alert {
    padding: 0.5rem 2rem;
    -ms-grid-columns: 2rem 5fr 5fr 2rem;
        grid-template-columns: 2rem 5fr 5fr 2rem;
  }
  .alert .alert-type {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=alerts.css.map */