@import 'variables', 'reset';

:host {
    display: block;
}
:host([hidden]) {
     display: none;
}
:host:not(:defined){
    display: none;
}

.card {
    transition: all 500ms ease-in-out;
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "heading sub"
        "main sub";
    border-radius: 0.5rem;
    background: $bar-font-color;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.9);
    text-align: center;
    overflow: hidden;
    margin: 1rem;

    .stat-text {
        font-size: 0.5rem;
        text-transform: uppercase;
        color: $secondary-brand-color;
    }
    .stat-number {
        font-weight: bold;
        color: $brand-color;
    }

    .card-header {

        grid-area: heading;
        margin: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: $bar-font-color;
    }
    .card-main {
        background-color: $bar-font-color;
        transform: translateY(0%);
        z-index: -1;
        grid-area: main;
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 
            "queue"
            "stat";
        .card-queue {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: queue;
            h1 {
                color: $brand-color;
                font-size: 4rem;
            }
        }
        .card-stat {
            grid-area: stat;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .stat {
                flex: 1;
            }

            .stat-text {
                font-size: 0.5rem;
                text-transform: uppercase;
                color: $secondary-brand-color;
            }
            .stat-number {
                font-weight: bold;
                color: $brand-color;
            }
        }
        &.anim {
            transition: transform 500ms ease-in-out 50ms;
            z-index: 1;
        }
        &.up {
            transform: translateY(-100%);
        }
        &.down {
            transform: translateY(100%);
        }
    }
    
    .card-sub {
        grid-area: sub;
        padding: 0.2rem;
        background-color: $secondary-brand-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .arrow-up, .arrow-down {
            padding: 1rem 0;
            cursor: pointer;
        }
        .arrow-up:hover, .arrow-down:hover {
            //background-color: $brand-color;
            color: $bar-font-color;
        }

        .stat-text {
            color: $bar-font-color;
        }
    }
    &:hover, &:active {
        transform: scale(1.1);
    }
    &[hidden] {
        display: none;
    }
}
