@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables', 'reset', 'header', 'msg';

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    height: 2.5rem;
    width: 0.7rem;
    z-index: 2;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    color: $pop-brand-color;

    &:hover {
        width: 100%;
        div {
            color: $bar-font-color;
            display: block;
        }
    }

    &.clicked {
        width: 100%;
        div {
            display: block;
            color: $bar-font-color;
        }
    }
    
    &.loggedin {
        background-color: $pop-brand-color;
    }
    div {
        display: none;
        text-align: left;
        vertical-align: middle;
        font-size: 0.8rem;
        margin: 0.7rem;
        ion-icon {
            font-size: 1rem;
        }
        a {
            color: $bar-font-color;
        }
    }
}

.splitcontainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    

    .tableauPlaceholder {
        margin: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.scaledown {
    transform: scale(1);
}

.container {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#site-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #78be20;
    border-radius: 50%;
    bottom: 1.5rem;
    transition: all ease-in-out 1s;
    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        right: 1.5rem;
        width: 3rem;
        height: 3rem;
        background-color: #78be20;
        border-radius: 50%;
    }

    .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 900;
    position: fixed;
    right: 3.15rem;
    width: 0.1rem;
    height: 3rem;
    background-color: #78be20;
    border-radius: 5%;
    bottom: 1.5rem;
    transition: all ease-in-out 1s;
        button {
            display: none;
            transition: display ease-in-out 0.5s 0.5s;
            width: 50%;
            height: 100%;
            background: transparent;
            border: none;
            &:hover {
                color: $bar-font-color;
                font-weight: bold;
            }
        }
    }

    #site-picker {
        position: relative;
        transition: transform ease-in-out 1s;
        text-align: center;
        width: 100%;
        z-index: 1001;
        color: $bar-font-color;

        &:hover {
            color: $brand-color;
        }
    }

    &.open  {
        .menu {
            width: 12rem;
            padding-right: 1rem;
            button {
                display: block;
            }
        }

        #site-picker {
            transform: rotateZ(180deg);
        }
    }

}


@media only screen and (min-width: $small-size) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;

        &.ChatTranscript {
            flex-direction: column;
        }
    }
    queue-card {
        flex-basis: 34%;
    }
    footer {
        width: 100%;
        div {
            display: block;
            color: $bar-font-color;
        }
    }
}

@media only screen and (min-width: $big-size) {
    queue-card {
        flex-basis: 25%;
    }
    .splitcontainer summary-card {
        flex-basis: 33%;
    }
}
