@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables', 'reset', 'header', 'msg';



.container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}


@media only screen and (min-width: $small-size) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;

        &.ChatTranscripts {
            flex-direction: column;
        }
    }
    queue-card {
        flex-basis: 34%;
    }
}

@media only screen and (min-width: $big-size) {
    queue-card {
        flex-basis: 25%;
    }
}
