@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables', 'reset', 'header';



.container {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "heading sub"
        "main sub";
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.9);
    text-align: center;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    margin: 1rem;

    .card-header {
        grid-area: heading;
        margin: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
            margin-right: 0.5rem;
        }
    }
    .card-main {
        grid-area: main;
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 
            "queue"
            "stat";
        .card-queue {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: queue;
            h1 {
                color: $brand-color;
                font-size: 4rem;
            }
        }
        .card-stat {
            grid-area: stat;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .stat-text {
                font-size: 0.5rem;
                text-transform: uppercase;
                color: $secondary-brand-color;
            }
            .stat-number {
                font-weight: bold;
                color: $brand-color;
            }
        }
        
    }
    
    .card-sub {
        grid-area: sub;
        padding: 0.2rem;
        background-color: $secondary-brand-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .arrow-up, .arrow-down {
            padding: 1rem 0;
            cursor: pointer;
        }
        .arrow-up:hover, .arrow-down:hover {
            //background-color: $brand-color;
            color: $bar-font-color;
        }
    }
}

.card:hover, .card:active {
    transform: scale(1.1);
}
  