@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: lightgrey;
  overflow-x: hidden;
  min-width: 350px;
}

header {
  background-color: #141b4d;
  color: #fff;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .brand {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

header .brand h3 {
  display: block;
  text-transform: uppercase;
}

header .brand img {
  height: 50px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #78be20;
  border-radius: 50%;
}

header .menu:hover .burger,
header .menu:hover .burger::after,
header .menu:hover .burger::before,
header .menu:active .burger,
header .menu:active .burger::after,
header .menu:active .burger::before {
  background-color: #141b4d;
}

header .burger {
  position: relative;
  width: 50%;
  height: 3px;
  background-color: #fff;
  display: block;
  border-radius: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger::after {
  content: '';
  position: absolute;
  width: 99%;
  height: 3px;
  background-color: #fff;
  top: 0.5rem;
  display: block;
  border-radius: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .burger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: -0.5rem;
  display: block;
  border-radius: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu.open .burger::after {
  opacity: 1;
  top: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

header .menu.open .burger::before {
  opacity: 1;
  top: 0;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

header .menu.open .burger {
  background-color: transparent;
}

header .menu.open:hover .burger::after,
header .menu.open:hover .burger::before,
header .menu.open:active .burger::after,
header .menu.open:active .burger::before {
  background-color: #141b4d;
}

header .navitems {
  position: fixed;
  background-color: #78be20;
  z-index: 500;
  display: block;
  height: 2rem;
  width: 2rem;
  right: 1.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out 1s;
  transition: all 0.5s ease-in-out 1s;
}

header .navitems ul {
  list-style: none;
  text-align: center;
  display: none;
  opacity: 0;
}

header .navitems.open {
  -webkit-animation: openmenu 1s ease-in-out forwards;
          animation: openmenu 1s ease-in-out forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navitems.open ul {
  display: block;
  -webkit-animation: showList 0.5s 1s ease-in-out forwards;
          animation: showList 0.5s 1s ease-in-out forwards;
}

header .navitems.open li {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
          box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  -webkit-transition: all 125ms ease-in-out;
  transition: all 125ms ease-in-out;
}

header .navitems.open li a {
  text-decoration: none;
  color: #141b4d;
  padding: 0.5rem;
  display: block;
  -webkit-transition: all 125ms ease-in-out;
  transition: all 125ms ease-in-out;
}

header .navitems.open li.disabled {
  background-color: lightgrey;
}

header .navitems.open li.disabled a {
  cursor: not-allowed;
}

header .navitems.open li:hover:not(.disabled) {
  background-color: #141b4d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .navitems.open li:hover:not(.disabled) a {
  color: #fff;
  font-weight: bold;
}

@-webkit-keyframes showList {
  to {
    opacity: 1;
  }
}

@keyframes showList {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes openmenu {
  10% {
    width: 6rem;
    height: 6rem;
    right: 0;
    top: 0;
  }
  to {
    border-radius: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

@keyframes openmenu {
  10% {
    width: 6rem;
    height: 6rem;
    right: 0;
    top: 0;
  }
  to {
    border-radius: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (min-width: 700px) {
  header .navitems.open ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navitems.open ul li {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  header .navitems.open ul a {
    font-weight: bolder;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1360px) {
  header .navitems.open ul li {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  header .navitems.open ul a {
    font-size: 1.4rem;
  }
}

.ChatTranscript .msg {
  width: 75%;
  margin-top: 3rem;
}

.ChatTranscript .msg-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.ChatTranscript .msg-card .card-header {
  padding: 0.5rem;
  border-radius: .25rem .25rem 0 0;
}

.ChatTranscript .msg-card .card-footer {
  padding: 0.5rem;
  background-color: #999999;
  border-radius: 0 0 .25rem .25rem;
}

.ChatTranscript .msg-card .card-body {
  padding: 1rem;
  background-color: #fff;
}

.ChatTranscript .msg-card .card-body .button-segment {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ChatTranscript .msg-card .card-body button {
  background-color: #0099cc;
  padding: 0.25rem;
  margin: .1rem;
  width: 34%;
  color: #fff;
}

.ChatTranscript .msg-card.bot .card-header {
  background-color: #333333;
  color: #fff;
}

.ChatTranscript .msg-card.agent .card-header {
  background-color: #141b4d;
  color: #fff;
}

.ChatTranscript .msg-card.customer .card-header {
  background-color: #78be20;
  color: #fff;
}

.splitcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.tableauPlaceholder {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container.ChatTranscript {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  queue-card {
    -ms-flex-preferred-size: 34%;
        flex-basis: 34%;
  }
}

@media only screen and (min-width: 1360px) {
  queue-card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
/*# sourceMappingURL=style.css.map */